h1{
    align-items: center;
    text-align: center;
    color: rgb(80, 80, 197);
}

div{

    text-align: center;
    flex-direction: column;
}

footer{
    text-align: center;
    bottom: 0;
    width: 100%;
    position: fixed;
}